# Flutter/Dart/Pub related
.dart_tool/
.packages
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
.flutter-credentials

# IDEs
.idea/
.vscode/
*.iml

# macOS
.DS_Store

# Android
*.keystore
local.properties

# iOS
Pods/
DerivedData/
Runner.xcworkspace/
*.xcconfig

# Environment files
.env
.env.*
